.Section3 {
  background-color: #fa45291c;
}
.Section3_inner {
  max-width: 1550px;
  height: 100%;
  margin: 0 auto;
}
.Section3_container {
  height: 100%;
  padding-bottom: 160px;
}
.Section3_top {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Section3_top-title h2{
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}
.Section3_top-list {
  display: flex;
}
.Section3_top-list img {
  padding: 0 70px 0 10px;
  width: 30px;
  height: 24px;
}
.Section3_bottom {
  margin-top: 40px;
}
.Section3_bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Section3_container-card{
  padding: 60px 0;
}
.Section3_card-wrap {
  width: 700px;
  height: 620px; 
  border-radius: 30px;
  background-color: white;
}

.Section3_card-top {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.Section3_card-top h4 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 10px 0;
}

.Section3_card-title {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.Section3_title-name {
  width: 140px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #F4F3F9;
}

.Section3_card-info {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.section3_info-site {
  width: 120px;
  padding: 10px 20px;
  text-align : center;
  border-radius: 30px;
  border: 1px solid black;
}

.Section3_card-bottom {
  width: 100%;
  padding: 60px 0;
  display: flex;
}

.Section3_card-left {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Section3_card-img{
  width: 300px;
  height: 300px;
  background-color: oldlace;
}
.Section3_card-right {
  width: 100%;
  background-color: white;
}
.Section3_card-right ul{
  padding-left: 30px;
}
.Section3_card-right ul li{
  line-height: 2em;
}

@media (min-width: 1580px) {
  .container-xxl {
    max-width: 1550px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
