.Section3_inner {
  max-width: 1550px;
  height: 100%;
  margin: 0 auto;
}
.Section3_container {
  padding: 160px 0;
}
.Section3_top {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}
.Section3_top-title h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}
.Section3_left-text {
  width: 70%;
  margin-top: 40px;
}
.Section3_left-text p {
  margin: 0 0 1.875rem;
  font-size: 1rem;
}
.Section3_container-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.Section3_project {
  position: relative;
  overflow: hidden;
}

.mg_top60{
  margin-top: 60px;
}

/*===========Section3_project-top===========*/

.Section3_project-top img {
  width: 100%;
  height: 100%;
}
.Section3_top-text {
  padding: 1.25rem 1.5rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.Section3_text-color {
  color: white;
  font-size: 0.875rem;
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
}
.Section3_project-name {
  font-weight: 700;
}
.Section3_project-name::after {
  content: "/";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.Section3_title-name {
  font-size: 1.75rem;
  line-height: 1.16;
  color: white;
}

/*===========Section3_project-bottom===========*/

.Section3_bottom-header {
  padding: 1.25rem 1.5rem;
}

.Section3_header-style {
  color: black;
  font-size: 0.875rem;
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
}

.Section3_bottom-review {
  color: white;
  font-size: 1.75rem;
  line-height: 1.16;
}

.Section3_bottom-ul {
  margin-top: 30px;
  font-size: 1.25rem;
}
.Section3_bottom-ul li{
  color: white;
}

.Section3_bottom-btn {
  padding-top: 200px;
  display: flex;
}

.Section3_left-btn a {
  padding: 20px 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 0.2s ease;
}

.Section3_left-btn a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
  box-sizing: border-box;
}

.Section3_left-btn2{
  margin-left: 20px;
}

.Section3_left-btn2 a {
  padding: 20px 40px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 0.2s ease;
}

.Section3_left-btn2 a:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}

@media (min-width: 1580px) {
  .container-xxl {
    max-width: 1550px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
@media (min-width: 992px) {
}
