.Section1_inner {
  max-width: 1550px;
  height: 750px;
  padding: 160px 0;
  margin: 0 auto;
  display: flex;
  background: url(../../../public/images/test.png) no-repeat 900px 100px;
  background-size: 360px auto;
}

.Section1_container {
  width: 100%;
  display: flex;
}

.Section1_left {
  width: 70%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.Section1_right {
  width: 30%;
}

.Section1_left-title {
  width: 90%;
  margin-left: 20px;
}

.Section1_left-title h1 {
  font-size: 5em;
}

.Section1_left-text1 {
  width: 80%;
  padding-top: 30px;
  margin-left: 20px;
  align-items: center;
}

.Section1_left-text1 p {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.Section1_left-site {
  padding: 160px 0 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.Section1_left-btn {
  margin-right: 20px;
}
.Section1_left-btn a {
  padding: 20px 20px;
  background-color: rgb(38, 34, 34);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 0.2s ease;
}

.Section1_left-btn a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
  box-sizing: border-box;
}

@media (min-width: 1580px) {
  .container-xxl {
    max-width: 1550px;
  }
}

@media (min-width: 1200px) {
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
